
#titleForChart{
  width: 50%; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
  position: absolute;
  top: 530px; /* Adjust the top value to position the title above #treediv */
  right: 0;
  text-align: center; /* Center the text horizontally */
  line-height: 30px; /* Center the text vertically */
}
/* pie chart */
#chartdiv {
  width: 50%;
  height: 400px;
  position: absolute;
  top: 540px;
  right:0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  z-index: 0;
}

/* tree chart */
#treediv {
  width: 50%;
  height: 400px;
  position: relative;
  top: 80%;
  left: 50%; 
  transform: translate(-50%, 0);
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin-right: 10px; 
 
  }
  /* title above tree */
  #titleTreemap {
  
    width: 50%;
    height: 30px;
    position: absolute;
    top: 5%; 
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center; 
    line-height: 30px; 
}
/* title above bar chart */
#titleBetween {
  width: 50%;
  height: 30px;  
  position: relative;
  float: left;
  text-align: center; 
  line-height: 120px; 
}
/* bar chart */
#datadiv {
  
  width: 50%;
  height: 400px;
  position: relative;
  float: left;
  top:30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin-right: 10px;  /* Adjust the margin as needed */
}
