<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart with Flask and amCharts 5</title>
    <h1> Zewail University Dashboard</h1>

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/core.js"></script>
    <script src="/static/tree.js" ></script>
    <script src="/static/data.js" ></script>
    <script src="/static/chart.js" ></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
    <div id="titleForChart">
        <h2>Expenses of Each School</h2>
    </div>
    <div id="chartdiv"></div>
    <div id="titleTreemap">
        <h2>Total Number of Students</h2>
    </div>
    <div id="treediv"></div>
    <div id="titleBetween">
        <h3>Revenue of Each School</h3>
    </div>
    <div id="datadiv"></div>

</div>
</body>
</html>